services:
  wazuh.indexer:
    image: wazuh/wazuh-indexer:4.14.0
    hostname: wazuh.indexer
    restart: always
    ports:
      - 9200:9200
    environment:
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=SecretPassword
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer

  wazuh.manager:
    image: wazuh/wazuh-manager:4.14.0
    hostname: wazuh.manager
    restart: always
    ports:
      - 1514:1514
      - 1515:1515
      - 1516:1516
      - 514:514/udp
      - 55000:55000
    environment:
      - INDEXER_URL=https://wazuh.indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword
    depends_on:
      - wazuh.indexer

  wazuh.dashboard:
    image: wazuh/wazuh-dashboard:4.14.0
    hostname: wazuh.dashboard
    restart: always
    ports:
      - 5601:5601
    environment:
      - OPENSEARCH_HOSTS=https://wazuh.indexer:9200
      - OPENSEARCH_USERNAME=admin
      - OPENSEARCH_PASSWORD=SecretPassword
    depends_on:
      - wazuh.indexer
      - wazuh.manager

volumes:
  wazuh-indexer-data:
